.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 0px 0px 10px 10px;
}

.starContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    direction: rtl;
}

.starContainer > .star.hover:hover ~ .star.hover {
    background-color: orangered;
}

.star {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    height: 15px;
    width: 8px;
    -webkit-mask-size: 8px 15px;
    mask-size: 8px 15px;

    &.left {
        -webkit-mask-image: url(../../assets/svg/star-left.svg);
        mask-image: url(../../assets/svg/star-left.svg);
    }

    &.right {
        -webkit-mask-image: url(../../assets/svg/star-right.svg);
        mask-image: url(../../assets/svg/star-right.svg);
    }

    &.active {
        background-color: yellow;
    }

    &.hover:hover{
        background-color: orangered;
    }
}

.value{
    color:yellow;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size:10px;
    margin-top:2px;
}